tenacity==8.1.0
#langchain==0.3.11
openai==1.57.4
langchain-openai==0.2.12
neo4j-driver==5.27.0
streamlit==1.41.1
langchainhub==0.1.21
langchain-core==0.3.25
langchain-community==0.3.11
networkx~=3.4
matplotlib~=3.10.0
wikipedia~=1.4.0
requests~=2.32.3
pillow~=10.4.0
pandas~=2.2.3
plotly
pytest
toml
PyYAML