langchain==1.2.6
langchain-core==1.2.7
langchain-community==0.4.1
langchain-neo4j==0.7.0
langchain-openai==1.1.7
langgraph==1.0.6
pandas==2.3.3
plotly==6.5.2
pydantic==2.12.5
PyYAML==6.0.3
streamlit==1.53.0
toml==0.10.2
wikipedia==1.4.0
pytest==9.0.2